<div class="p-5 mt-4 text-bg-primary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-4">Real estate projemize hoşgeldiniz!</h1>
    <p class="lead">Bu proje kullanıcıların tercihlerine göre mülk bulmalarına yardımcı olmak için basit bir emlak arama
      uygulamasıdır</p>
    <hr class="my-4">
    <p>Bu projede kullanılan teknolojiler ; .Net Core 7, Ef, Mssql, Solid prensipleri, AutoFac, AutoMapper</p>
    <h2>Bu proje monolitic architecture ile hazırlanmıştır.</h2>
  </div>
</div>