<div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Gayrimenkul Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
</div>

<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{filterText}} aradınız
</div>

<div class="row">
  <div class="col-sm-3" *ngFor="let product of products | filterPipe: filterText">
    <div class="card">
      <img src="{{imageBasePath}}{{product.imageUrl}}" class="card-img-top" alt="thumbnail" width="100" height="300">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">{{product.city}} / {{product.district}}</p>
      </div>
    </div>
  </div>
</div>